/target/*
target*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Documentation
docs/_build/
/src/gaspatchio_core/__pycache__/__init__.cpython-313.pyc
/src/gaspatchio_core/__pycache__/utils.cpython-313.pyc
/src/gaspatchio_core/_internal.cpython-313-darwin.so
/bindings/python/jobs/example/reconcillation
/bindings/python/.pypirc
